/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #002d60;
  --ifm-color-primary-dark: #002956;
  --ifm-color-primary-darker: #002652;
  --ifm-color-primary-darkest: #001f43;
  --ifm-color-primary-light: #00326a;
  --ifm-color-primary-lighter: #00346e;
  --ifm-color-primary-lightest: #003b7d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #64c1cc;
  --ifm-color-primary-dark: #4db8c4;
  --ifm-color-primary-darker: #42b3c1;
  --ifm-color-primary-darkest: #3595a0;
  --ifm-color-primary-light: #7bcad4;
  --ifm-color-primary-lighter: #86cfd7;
  --ifm-color-primary-lightest: #a9dce3;
}

.footer--dark {
  --ifm-footer-background-color: #cc2b17;
}